  <header>
    <a routerLink="/">
    <h1>MIKARU EMCORA</h1>
    </a>

    <nav>
      <a routerLink="/about-me" routerLinkActive="link-activo-menu">About Me</a>
      <div class="redes">
        <a href="https://ko-fi.com/mikaruemcora" target="_blank" class="rrss">
          <img src="assets/img/kofi-logo.png" alt="kofi"></a>
        <a href="https://twitter.com/mikaruemcora" target="_blank" class="rrss">
          <img src="../../../assets/img/x-logo.png" alt="twitter"></a>
        <a href="https://www.instagram.com/mikaruemcora" target="_blank" class="rrss">
          <img src="../../../assets/img/insta-logo.png" alt="instagram"></a>
        <a href="https://www.tiktok.com/mikaruemcora" target="_blank" class="rrss">
          <img src="../../../assets/img/tiktok-logo.png" alt="tiktok"></a>
      </div>
 
      <a routerLink="/contact-me">Contact</a>
    </nav>
  </header>

