  <header>
    <a routerLink="/">
    <h1>MIKARU EMCORA</h1>
    </a>

    <nav>
      <a [routerLink]="['/about-me']">About Me</a>
      <div class="redes">
        <a href="https://ko-fi.com/mikaruemcora" target="_blank" class="rrss">
          <img [src]="rutaIconoKofi" alt="kofi artist mikaru emcora"></a>
        <a href="https://twitter.com/mikaruemcora" target="_blank" class="rrss">
          <img [src]="rutaIconoTwitter" alt="twitter"></a>
        <a href="https://www.instagram.com/mikaruemcora" target="_blank" class="rrss">
          <img [src]="rutaIconoInstagram" alt="instagram"></a>
        <a href="https://www.tiktok.com/mikaruemcora" target="_blank" class="rrss">
          <img [src]="rutaIconoTikTok" alt="tiktok"></a>
      </div>
 
      <a [routerLink]="['/contact-me']">Contact</a>
    </nav>
  </header>

