<div class="cont-about">
  <p class="textoScroll">My name is Mikaru Emcora,</p>
  <p class="textoScroll">also known as Andrea Hernandez.</p>
  <p class="textoScroll">I am a Spanish animation student at ESNE, Madrid.</p>
  <p class="textoScroll">I've had the opportunity to work on various</p>
  <p class="textoScroll">small projects, and most recently, I was involved</p>
  <p class="textoScroll">in the creation of two animated shorts,</p>
  <p class="textoScroll">"Superclean" and "Telebasura."</p>
  <br>
  <p class="textoScroll">Designing relatable characters and crafting</p>
  <p class="textoScroll">intricate, vibrant storylines has always been</p>
  <p class="textoScroll">my primary motivation for drawing.</p>
  <p class="textoScroll">It never crossed my mind that I would one day</p>
  <p class="textoScroll">become an animator to bring my creations to life.</p>
  <br>
  <p class="textoScroll">While I've been a fan of animated movies and series</p>
  <p class="textoScroll">my entire life, it wasn't until 2012 that I discovered</p>
  <p class="textoScroll">animation memes – a series of YouTube trends</p>
  <p class="textoScroll">where individuals animate the same subject in their</p>
  <p class="textoScroll">unique style. It was also during that year that I first</p>
  <p class="textoScroll">encountered the term "animatic,"</p>
  <p class="textoScroll">which I spent most of my summer days exploring.</p>
  <p class="textoScroll">Art has consistently played a significant</p>
  <p class="textoScroll">role in my life, and I eagerly look forward</p>
  <p class="textoScroll">to creating more and increasingly</p>
  <p class="textoScroll">meaningful stories...</p>
  <p class="textoScroll">If you like what you see</p>
  <p class="textoScroll">don't hesitate to <a [routerLink]="['/contact-me']"><b>contact me</b></a>!</p>
  
</div>

