.link-activo-about {

}

body {
  overflow-y: scroll;
  /* scroll vertical */
  -ms-overflow-style: none;
  /* para Internet Explorer 10+ */
  scrollbar-width: none;
  /* para Firefox */
  overflow-y: auto;
}

  /* Ocultar scrollbar */
  body::-webkit-scrollbar {
    display: none;
    /* Chrome y Safari */
  }


a,
a:link,
a:visited,
a:hover,
a:active {
  text-decoration: underline;
  color: inherit;
}



/* nuevas clases de about */
@media (min-width: 768px) { /* tamaño pc */
  .cont-about {
    background-color: rgba(216, 238, 241, 0.7);
    float: right;
    margin-right: 20px;
    /*
    padding-top: 10px;
    padding-bottom: 10px; */

    height: calc(100vh - 165px); 
    margin-top: 125px;
    margin-bottom: 50px; 
    overflow: auto;
    border-radius: 15px;
    max-width: 80%;
    padding: 0px;
    box-sizing: border-box; 
  }

  .textoScroll {
    font-family: 'Nerko one';
    font-size: 35px;
    margin-left: 10px;
  }
}

@media (max-width:768px) {
  .cont-about {
    /* background-color: rgba(216, 238, 241, 0.7); */
    border-radius: 15px;
    max-width: 100%;
    margin-top: 20%;
    padding-right: 5%;
  }

  .textoScroll {
    font-family: 'Nerko one';
    font-size: 45px;
    line-height: 0.9;
  }
}

.cont-about::-webkit-scrollbar {
  display: none; /* Para navegadores basados en WebKit */
}

.cont-about {
  -ms-overflow-style: none; /* Para Internet Explorer y Edge */
  scrollbar-width: none; /* Para Firefox */
}
