.link-activo-about {

}

body {
  overflow-y: scroll;
  /* scroll vertical */
  -ms-overflow-style: none;
  /* para Internet Explorer 10+ */
  scrollbar-width: none;
  /* para Firefox */
  overflow-y: auto;
}

  /* Ocultar scrollbar */
  body::-webkit-scrollbar {
    display: none;
    /* Chrome y Safari */
  }



body a,
body a:link,
body a:visited,
body a:hover,
body a:active {
  text-decoration: none;
  color: inherit;
}


/* antiguo codigo de about - no borrar todavia */
.container {
  min-height: 100vh;
  position: relative;
  width: 50%;
  display: flex;
  flex-direction: column;
}

.contenedorTextoAbout {
  position: fixed;
  right: 100px;
  top: 240px;
  margin: auto;
  max-width: 400px;
  background-color: rgba(216, 238, 241, 0.7);
  padding: 50px;
  border-radius: 15px;
  height: 600px;
  overflow-x: hidden;
  overflow-y: scroll;
  -ms-overflow-style: none;
  /* para Internet Explorer 10+ */
  scrollbar-width: none;
  /* para Firefox */
  overflow-y: auto;
}

contenedorTextoAbout::-webkit-scrollbar {
  display: none;
  /* Chrome y Safari */
}

@media (min-width: 670px) {
  .contenedorTextoAbout {
    background-color: rgba(216, 238, 241, 0.7);
    border-radius: 15px;
    max-width: none;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* para Internet Explorer 10+ */
    scrollbar-width: none;
    /* para Firefox */
    overflow-y: auto;
  }
}

@media (max-width: 992px) {
  .contenedorTextoAbout {
    background-color: rgba(216, 238, 241, 0.7);
    border-radius: 15px;
    height: 520px;
    left: 330px;
    overflow-x: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    /* para Internet Explorer 10+ */
    scrollbar-width: none;
    /* para Firefox */
    overflow-y: auto;
  }
}



/* nuevas clases de about */
@media (min-width: 768px) { /* tamaño pc */
  .cont-about {
    /* background-color: rgba(216, 238, 241, 0.7); */
    border-radius: 15px;
    float: right;
    max-width: 80%; /* no parece funcionar... */
    margin-top: 15%;
    padding-right: 15%;
  }

  .textoScroll {
    font-family: 'Nerko one';
    font-size: 35px;
    margin-left: 10px;
  }
}

@media (max-width:768px) {
  .cont-about {
    /* background-color: rgba(216, 238, 241, 0.7); */
    border-radius: 15px;
    max-width: 100%;
    margin-top: 20%;
    padding-right: 5%;
  }

  .textoScroll {
    font-family: 'Nerko one';
    font-size: 45px;
    line-height: 0.9;
  }
}
