/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-y: scroll;
}

@font-face {
  font-family: Brother;
  src: url(assets/fonts/Brother.ttf);
}

@font-face {
  font-family: 'Nerko one';
  src: url(assets/fonts/nerko.ttf);
}

@font-face {
  font-family: 'Readex pro';
  src: url(assets/fonts/readex.ttf);
}

.background {
  background-image: url('assets/img/bgComun.jpg');
  background-color: blueviolet;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}


/* Ocultar scrollbar */
body::-webkit-scrollbar {
  display: none;
  /* Chrome y Safari */
}

body {
  -ms-overflow-style: none;
  /* para Internet Explorer 10+ */
  scrollbar-width: none;
  /* para Firefox */
  overflow-y: auto;
}
